{% extends "base.twig" %}

{% block content %}
<div class="page-header-container container">
	<div class="gdl-header-wrapper">
		<h1 class="gdl-header-title">About Us</h1>
	</div>
</div>
</div>
<div class="content-outer-wrapper container wrapper">
	<div class="top-slider-bottom-bar container wrapper"></div>
	<div class="content-wrapper container main">
		<div class="page-wrapper single-page single-sidebar right-sidebar">
			<div class="row">
				<div class="gdl-page-left mb0 eight columns">
					<div class="row">
						<div class="gdl-page-item mb20 twelve columns">
							<div class="row">
								<div class="twelve columns ">
									<div class="gdl-page-content">
										<h3><b>Mission Statement</b></h3>
										<ul>
											<li>We work hard to exceed the expectations of our customers</li>
											<li>We take pride in our work and our company</li>
											<li>We conduct business with integrity and trust</li>
											<li>We respond quickly to customer needs</li>
											<li>We respect each other and recognize excellent performance</li>
											<li>We believe in the development &amp; recognition of our employees</li>
											<li>We value diversity in our workplace and community</li>
											<li>We believe in constant commitment to improvement</li>
											<li>We believe in customer/client satisfaction and business success are the
												concomitants of all the above.</li>
										</ul>
									</div>
								</div>
								<div class="clear"></div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class='four columns gdl-right-sidebar'>
					<div class='sidebar-wrapper'></div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div> <!-- page wrapper -->
	</div> <!-- content wrapper -->

	{% endblock %}