{% extends "base.twig" %}

{% block content %}
<div class="page-header-container container">
	<div class="gdl-header-wrapper">
		<h1 class="gdl-header-title">Carpet Cleaning</h1>
	</div>
</div>
</div>
<div class="content-outer-wrapper container wrapper">
	<div class="top-slider-bottom-bar container wrapper"></div>
	<div class="content-wrapper container main">
		<div class="page-wrapper single-page ">
			<div class="row">
				<div class="gdl-page-left mb0 twelve columns">
					<div class="row">
						<div class="gdl-page-item mb20 twelve columns">
							<div class="row">
								<div class="twelve columns ">
									<div class="gdl-page-content">
										<ul>
											<li>High Pressure Hot Water Extraction Systems</li>
											<li>Water Extraction / Restoration</li>
											<li>24 Hr Availability Emergency Only</li>
										</ul>
									</div>
								</div>
								<div class="clear"></div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div> <!-- page wrapper -->
	</div> <!-- content wrapper -->

	{% endblock %}