{% extends "base.twig" %}

{% block content %}
<div class="page-header-container container">
	<div class="gdl-header-wrapper">
		<h1 class="gdl-header-title">Cleaning services</h1>
	</div>
</div>
</div>
<div class="content-outer-wrapper container wrapper">
	<div class="top-slider-bottom-bar container wrapper"></div>
	<div class="content-wrapper container main">
		<div class="page-wrapper single-page ">
			<div class="row">
				<div class="gdl-page-left mb0 twelve columns">
					<div class="row">
						<div class="gdl-page-item mb20 twelve columns">
							<div class="row">
								<div class="twelve columns ">
									<div class="gdl-page-content">
										<ul>
											<li>Commercial &amp; Residential</li>
											<li>Scheduled Cleaning</li>
											<li>New Construction / Renovation Clean-up</li>
											<li>Air Plane Interiors – Clean / Disinfect / Deodorize</li>
											<li>Touch Up Services / Vacant Residential / Commercial Properties</li>
											<li>Make Readies</li>
											<li>Pressure Washing</li>
											<li>Trash Removal</li>
											<li>Grass Cutting / Basic Yard Maintenance</li>
											<li>Specialized Services</li>
											<li>Floor – Cleaning / Waxing / Polishing</li>
											<li>Floor Maintenance</li>
											<li>Painting – Interior / Exterior (Wall, Trim, Ceilings)</li>
											<li>Disaster Relief Services / Staging Operations</li>
											<li>Hurricane, Torrential Rain, Flooding, Tornadic and Sewage.</li>
											<li>Immediate on site Inspection and Relief Assessments.</li>
											<li>Cleaning and Disinfecting of Mobile Showers and Housing Facilities.</li>
											<li>Cleaning and Disinfecting of Mobile On Site Kitchens.</li>
											<li>Multiple Site Capability&#8230;. LA State &amp; Nationwide
												Services&#8230;</li>
										</ul>
									</div>
								</div>
								<div class="clear"></div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div> <!-- page wrapper -->
	</div> <!-- content wrapper -->

	{% endblock %}