{% extends "base.twig" %}

{% block content %}
<div class="page-header-container container">
	<div class="gdl-header-wrapper">
		<h1 class="gdl-header-title">Dust Mites</h1>
	</div>
</div>
</div>
<div class="content-outer-wrapper container wrapper">
	<div class="top-slider-bottom-bar container wrapper"></div>
	<div class="content-wrapper container main">
		<div class="page-wrapper single-page ">
			<div class="row">
				<div class="gdl-page-left mb0 twelve columns">
					<div class="row">
						<div class="gdl-page-item mb20 twelve columns">
							<div class="row">
								<div class="twelve columns ">
									<div class="gdl-page-content">
										<p>Dust mites are small arthropods that live in your home and feed on flaked-off
											human skin. Although they are microscopic, they can cause serious health
											issues. Even if you&#8217;re a neat freak, if there&#8217;s dust,
											there&#8217;s a strong possibility you have dust mites.</p>
										<p>Dust mites can cause allergies, sneezing, coughing, wheezing, skin
											irritations, and even eye trouble such as redness and watering. More serious
											symptoms are Eczema and also an increase in risk for asthmatics.</p>
										<p><a href="/contact-us/">Contact us</a> today and we can help you rid your home
											of these pests!</p>
										<?php require_once('header.php')?>

									</div>
								</div>
								<div class="clear"></div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div> <!-- page wrapper -->
	</div> <!-- content wrapper -->

	{% endblock %}