{% extends "base.twig" %}

{% block content %}
<div class="page-header-container container">
	<div class="gdl-header-wrapper">
		<h1 class="gdl-header-title">Gallery</h1>
	</div>
</div>
</div>
<div class="content-outer-wrapper container wrapper">
	<div class="top-slider-bottom-bar container wrapper"></div>
	<div class="content-wrapper container main">
		<div class="page-wrapper single-page ">
			<div class="row">
				<div class="gdl-page-left mb0 twelve columns">
					<div class="row">
						<div class="gdl-page-item mb20 twelve columns">
							<div class="row">
								<div class="twelve columns ">
									<div class="gdl-page-content">
									</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="row">
								<div class="twelve columns ">
									<div class="gdl-gallery-item">
										<div class="row">
											<div class="three columns mb20">
												<div class="gdl-gallery-image"><a data-rel="fancybox"
														data-fancybox-group="gal0"
														href="/assets/img/bann2.jpg"
														title=""><img
															src="/assets/img/bann2-400x400.jpg"
															alt="" /></a></div>
											</div>
											<div class="three columns mb20">
												<div class="gdl-gallery-image"><a data-rel="fancybox"
														data-fancybox-group="gal0"
														href="/assets/img/cleaning_services.jpg"
														title=""><img
															src="/assets/img/cleaning_services-400x400.jpg"
															alt="" /></a></div>
											</div>
											<div class="three columns mb20">
												<div class="gdl-gallery-image"><a data-rel="fancybox"
														data-fancybox-group="gal0"
														href="/assets/img/w-wincleaning.jpg"
														title=""><img
															src="/assets/img/w-wincleaning-400x400.jpg"
															alt="" /></a></div>
											</div>
											<div class="three columns mb20">
												<div class="gdl-gallery-image"><a data-rel="fancybox"
														data-fancybox-group="gal0"
														href="/assets/img/clining02.jpg"
														title=""><img
															src="/assets/img/clining02-400x400.jpg"
															alt="" /></a></div>
											</div>
											<div class="clear"></div>
										</div>
										<div class="row">
											<div class="three columns mb20">
												<div class="gdl-gallery-image"><a data-rel="fancybox"
														data-fancybox-group="gal0"
														href="/assets/img/bann3.jpg"
														title=""><img
															src="/assets/img/bann3-400x400.jpg"
															alt="" /></a></div>
											</div>
											<div class="three columns mb20">
												<div class="gdl-gallery-image"><a data-rel="fancybox"
														data-fancybox-group="gal0"
														href="/assets/img/home-clining1.jpg"
														title=""><img
															src="/assets/img/home-clining1-400x400.jpg"
															alt="" /></a></div>
											</div>
											<div class="clear"></div>
										</div>
									</div>
								</div>
								<div class="clear"></div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div> <!-- page wrapper -->
	</div> <!-- content wrapper -->

	{% endblock %}