{% extends "base.twig" %}

{% block content %}
<div class="page-header-container container">
	<div class="gdl-header-wrapper">
		<h1 class="gdl-header-title">Our Equipment</h1>
	</div>
</div>
</div>
<div class="content-outer-wrapper container wrapper">
	<div class="top-slider-bottom-bar container wrapper"></div>
	<div class="content-wrapper container main">
		<div class="page-wrapper single-page ">
			<div class="row">
				<div class="gdl-page-left mb0 twelve columns">
					<div class="row">
						<div class="gdl-page-item mb20 twelve columns">
							<div class="row">
								<div class="twelve columns ">
									<div class="gdl-page-content">
										<p><strong>Equipment used for High Pressure Hot Water Extraction Systems<br />
											</strong></p>
										<ul>
											<li><strong>System I</strong></li>
											<li><strong>Powr -Flite Fully Customized No Bull Mobile Extractor (
													Certified For Commercial Airplanes )</strong></li>
											<li><strong>400 PSI Variable Pressure Pump </strong></li>
											<li><strong>Dual 2 Stage Vacuums</strong></li>
											<li><strong>In line Heat Exchanger</strong></li>
											<li><strong>Box Extractor</strong></li>
											<li><strong>Powr- Extractor Brush</strong></li>
											<li><strong>Pump Up Sprayer</strong></li>
											<li><strong>System II</strong></li>
											<li><strong>Century 400 Ninja </strong></li>
											<li><strong>200 PSI Recirculating Pump</strong></li>
											<li><strong>Duel Vac With Heater</strong></li>
											<li><strong>Consistantly Rated “One of the Best on the market! ”</strong>
											</li>
											<li><strong>System III</strong></li>
										</ul>
										<p>&nbsp;</p>
										<ul>
											<li><strong>The Best in the Industry!!! </strong></li>
											<li><strong>PFX 1080 BlackMax Extractor </strong></li>
											<li><strong>Duel 3 Stage Vacuums ( 101 CFM Plus 220 in Waterlift ! )
												</strong></li>
											<li><strong>500 PSI Pump Flushes and recovers deep down dirt from carpet.
												</strong></li>
											<li><strong>Perfect Heat Maintains heated solution temperatures to power out
													dirt. </strong></li>
											<li><strong>Perfect heat extractors use two very high powered vacuum motors.
												</strong></li>
											<li><strong>These motors produce enormous amounts of heat which Perfect Heat
													technology captures and uses </strong></li>
											<li><strong>to heat the water used to clean the carpets. This unique process
													requires no additional electric power and is simple and dependable.
												</strong></li>
											<li><strong>No other system can maintain water temperatures as high as
													Perfect Heat!<br />
												</strong></li>
											<li><strong>Floor Dryers </strong></li>
											<li><strong>Rigid Air Mover 2500 </strong></li>
											<li><strong>Powr-Flite Black Max Downdraft Dryers </strong></li>
											<li><strong>Downdraft drying design will dry an entire room in just minutes!
												</strong></li>
											<li><strong>Equipment used for Cleaning Service /Floor Maintenance </strong>
											</li>
											<li><strong>Electrolux Heavy Duty Commercial Vacuums </strong></li>
											<li><strong>Nobles </strong></li>
											<li><strong>Speed shine Series </strong></li>
											<li><strong>Floor Stripper/Buffer </strong></li>
											<li><strong>Tenant 2370 Floor Polisher </strong></li>
											<li><strong>Tenant 3520 Floor Cleaner </strong></li>
										</ul>
									</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="row">
								<div class="twelve columns ">
									<div class="gdl-gallery-item">
										<div class="row">
											<div class="three columns mb20">
												<div class="gdl-gallery-image"><a data-rel="fancybox"
														data-fancybox-group="gal0"
														href="/assets/img/Our-Equipment4.jpg"
														title=""><img
															src="/assets/img/Our-Equipment4-400x400.jpg"
															alt="" /></a></div>
											</div>
											<div class="three columns mb20">
												<div class="gdl-gallery-image"><a data-rel="fancybox"
														data-fancybox-group="gal0"
														href="/assets/img/Our-Equipment3.jpg"
														title=""><img
															src="/assets/img/Our-Equipment3-400x400.jpg"
															alt="" /></a></div>
											</div>
											<div class="three columns mb20">
												<div class="gdl-gallery-image"><a data-rel="fancybox"
														data-fancybox-group="gal0"
														href="/assets/img/Our-Equipment2.jpg"
														title=""><img
															src="/assets/img/Our-Equipment2-400x400.jpg"
															alt="" /></a></div>
											</div>
											<div class="three columns mb20">
												<div class="gdl-gallery-image"><a data-rel="fancybox"
														data-fancybox-group="gal0"
														href="/assets/img/powrflite-pfx1080.jpg"
														title=""><img
															src="/assets/img/powrflite-pfx1080-400x400.jpg"
															alt="" /></a></div>
											</div>
											<div class="clear"></div>
										</div>
									</div>
								</div>
								<div class="clear"></div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div> <!-- page wrapper -->
	</div> <!-- content wrapper -->

	{% endblock %}