{% extends "base.twig" %}

{% block content %}
<div class="page-header-container container">
	<div class="gdl-header-wrapper">
		<h1 class="gdl-header-title">Testimonials</h1>
	</div>
</div>
</div>
<div class="content-outer-wrapper container wrapper">
	<div class="top-slider-bottom-bar container wrapper"></div>
	<div class="content-wrapper container main">
		<div class="page-wrapper single-page ">
			<div class="row">
				<div class="gdl-page-left mb0 twelve columns">
					<div class="row">
						<div class="gdl-page-item mb20 twelve columns">
							<div class="row">
								<div class="twelve columns ">
									<div class="gdl-page-content">
										<div class="gdl-static-testimonial">
											<div class="clear"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="row">
							<div class="twelve columns ">
								<div class="gdl-static-testimonial">
									<div class="row">
										<div class="twelve columns mb20">
											<div class="testimonial-item">
												<div class="testimonial-content">They are simply the best! I've been a
													competitor and coach for over 30 years and I know a champion when I
													see one. I give No Bull Commercial Cleaners a Gold Medal!</div>
												<div class="testimonial-info"><span class="testimonial-author">Former
														Olympian &#038; World</span></div>
											</div>
										</div>
										<div class="clear"></div>
									</div>
								</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div> <!-- page wrapper -->
</div> <!-- content wrapper -->

{% endblock %}