
/*contact form style*/
.Success{
    
    background-color:hsl(120, 50%, 50%);
    border-color: hsl(120, 75%, 17%);
}
.Danger{
    
    background-color:hsl(0, 50%, 50%);
    border-color: hsl(0, 87%, 15%);
}
.statusMsg{
    padding-bottom:15px;
    padding-top:0px;
    margin-top:-15px;
    width: 90%;
    padding: 10px;
}

.formfield{
    padding: 10px;
    width: 90%;
    margin:5px;
    outline: none;
    max-width: 100%;
    margin-bottom: 10px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    border-color:black;
    margin-left: 0px;
}
input:required {
    background:hsl(180, 50%, 90%);
    border:1px solid #999;
}
input:optional {
    background:hsl(300, 50%, 90%);
    border:1px dotted hsl(180, 50%, 90%);
}
input:valid,
input:in-range {
    background:hsl(120, 50%, 90%);
    border-color:hsl(120, 50%, 50%);
}

input:invalid,
input:out-of-range {
    border-color:hsl(0, 50%, 50%);
    background:hsl(0, 50%, 90%);
}
input:focus + .help,
input:invalid + .help {
    display:inline-block;
}
